NODE_ENV=development
PORT=3000

MONGO_URI=mongodb://127.0.0.1:27017/your_mongodb_database

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=your_mysql_username
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=your_mysql_database